body {
    background-color: #000;
}
a{
    color: #FFF;
}
a:hover {
    text-decoration: none;
    color: #FFF;
    background-color: rgb(168, 168, 168);
}
.main {
    background-color: #000;
    color: #FFF;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20vh;
    width: 10vw;
    font-size: 2em;
    z-index: 2;
}
.nav-units {
    margin-bottom: 2em;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }
.welcome {
    margin-top: 45vh;
    font-size: 5em;
    animation: 1.5s ease-in 0s 1 slideInFromLeft;
}
.bg {
    background-color: #FFF;
    height: 100vh;
    width: 70vw;
    color: #000;
    margin-left: 15vw;
}
.content {
    position: relative;
    bottom: 22em;
}

/* Phone Changes */
@media only screen and (max-width: 600px) {
    a:hover {
        background-color: rgba(255, 255, 255, 0);
    }
    .nav{
        font-size: 1em;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        width: 100%;
        background-color: #000;
    }
    .nav>a {
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    .contant {
        margin-bottom: 1px;
    }
    .bg {
        width: 90vw;
        margin-left: 3vw;
    }
    .content {
        position: relative;
        bottom: 0;
    }
  }